@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div class="dropdown">
            <button disabled class="btn btn-primary" type="button">
                @context.User.Identity?.Name - @context.User.FindFirst(c => c.Type == "appRole")?.Value
            </button>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    [CascadingParameter]
    public CascadingAppState cascadingAppState { get; set; }
    

    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }

    public void NavigateToProfile(string? username)
    {
        if(username == null)
        {
            return;
        }
        Navigation.NavigateTo($"profiledetails/{username}");
    }
}
